*{
    width: 100%;
    font-weight: bold;
}

.col-1{
    padding: 0;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    height: 32px;
}
.container > .row >.col-4:first-of-type{
    height: 100vh;
}
input{
    background-color: white;
    border: none;
    height: 30px;
}
.check-box{
    color: rgba(0, 0, 0, 0);
}
.flower,.radar,.mine{
    background-size: cover;

}
.flower{
    background-image:url(../img/flower.png);


}
.radar{
    font-size: large;
    color: red;
}
.mine{
    background-image: url(../img/bomb.jpg);
}